@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(at top left, var(--color-cyan-900), var(--color-cyan-950) 60%);
}

@layer utilities {
  .title-gradient {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .neumorphic {
    box-shadow:  3px 3px 12px #0b1821, 
    -3px -3px 12px #273e4b;
  }
}
