@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-teal-950);
}

@layer utilities {
  .title-gradient {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .neumorphic {
    box-shadow:  4px 4px 9px #0b2120, 
    -4px -4px 9px #153b3a;
  }
}
